h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
}

h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img{
    margin-top: 15%;
}

#resume-button{
    margin-top: 5%;
    position: relative;
    left: 280px;
}

#intro-text
{
    position:relative;
    left: 15px;
}


