h2{
    margin-top: 15%;
}

h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img{
    margin-top: 15%;
}

#resume-button{
    margin-top: 5%;
    position: relative;
    left: 328px;
}

#intro-text
{
    position:relative;
    left: 60px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

#home-email
{
    padding-left: 10%;
}

#contact-intro{
  font-family: "Merriweather", serif;
}

#about-me{
  margin-left: 5%;
  margin-right: 5%;
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 60px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border-radius: 1px;
    animation: jumpInfinite 1.5s infinite;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -8.5px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }


